# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.source.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\dev\Sashimi.GCP\source\.idea\.idea.source\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
