<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="NuGet.org v3" value="https://api.nuget.org/v3/index.json" />
    <add key="feedz.io" value="https://f.feedz.io/octopus-deploy/dependencies/nuget/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="feedz.io">
      <package pattern="AlphaFS" />
      <package pattern="Octopus.CoreUtilities" />
      <package pattern="Octopus.Data" />
      <package pattern="Octopus.Dependencies.*" />
      <package pattern="Octopus.Globfish" />
      <package pattern="Octopus.Ocl" />
      <package pattern="Octopus.Server.Extensibility" />
      <package pattern="Octopus.Server.MessageContracts*" />
      <!-- Octopus.Versioning and Octopus.TinyTypes are a bit of a mess - some versions (used by other deps) are in feedz, some are in nuget. Messy. -->
      <package pattern="Octopus.Versioning" />
      <package pattern="Octopus.TinyTypes" />
    </packageSource>
    <packageSource key="NuGet.org v3">
      <package pattern="Octopus.Versioning" />
      <package pattern="Octopus.TinyTypes" />
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
