<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="NuGet.org v3" value="https://api.nuget.org/v3/index.json" />
    <add key="feedz.io" value="https://f.feedz.io/octopus-deploy/dependencies/nuget/index.json" />
    <add key="Benchmark nightly" value="https://ci.appveyor.com/nuget/benchmarkdotnet" />
  </packageSources>
</configuration>
