<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <RunConfiguration>
    <EnvironmentVariables>
      <Azure_OctopusAPITester_SubscriptionId></Azure_OctopusAPITester_SubscriptionId>
      <Azure_OctopusAPITester_TenantId></Azure_OctopusAPITester_TenantId>
      <Azure_OctopusAPITester_ClientId></Azure_OctopusAPITester_ClientId>
      <Azure_OctopusAPITester_Password></Azure_OctopusAPITester_Password>
    </EnvironmentVariables>
  </RunConfiguration>
</RunSettings>
