<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GitVersionTask" version="3.3.0" targetFramework="net4" developmentDependency="true" />
  <package id="MarkdownSharp" version="1.13.0.0" targetFramework="net4" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net4" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net4" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net4" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net4" />
  <package id="Microsoft.WindowsAzure.Common" version="1.4.1" targetFramework="net4" />
  <package id="Microsoft.WindowsAzure.Common.Dependencies" version="1.1.1" targetFramework="net4" />
  <package id="Microsoft.WindowsAzure.Management.Compute" version="6.1.2" targetFramework="net4" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net4" />
  <package id="NSubstitute" version="1.8.1.0" targetFramework="net4" />
  <package id="NUnit" version="2.6.4" targetFramework="net4" />
  <package id="Octostache" version="1.0.2.21" targetFramework="net4" />
  <package id="Sprache" version="0.0.0.0" targetFramework="net4" />
</packages>